[package]
name = "livekit-api"
version = "0.3.0"
license = "Apache-2.0"
description = "Rust Server SDK for LiveKit"
edition = "2021"
repository = "https://github.com/livekit/rust-sdks"

[features]
# By default ws TLS is not enabled
default = ["services", "access-token", "webhooks"]

tokio = ["dep:reqwest"]
# TODO: Pick an async_std http client
async = ["dep:reqwest"]

# TODO: This is already a backend crate, livekit crate can select the feature

# TODO: Can we split the signal client out so we can more easily compile
# tokio-tungstenite and async-tungstenite separately?
signal-client = [
    "dep:tokio-tungstenite",
    "dep:tokio",
    "dep:futures-util",
    "dep:reqwest",
    "dep:livekit-runtime"
]
services = ["dep:reqwest"]
access-token = ["dep:jsonwebtoken"]
webhooks = ["access-token", "dep:serde_json", "dep:base64"]

# Note that the following features only change the behavior of tokio-tungstenite.
# It doesn't change the behavior of libwebrtc/webrtc-sys
native-tls = ["tokio-tungstenite?/native-tls", "reqwest?/native-tls"]
native-tls-vendored = [
    "tokio-tungstenite?/native-tls-vendored",
    "reqwest?/native-tls-vendored",
]
rustls-tls-native-roots = [
    "tokio-tungstenite?/rustls-tls-native-roots",
    "reqwest?/rustls-tls-native-roots",
]
rustls-tls-webpki-roots = [
    "tokio-tungstenite?/rustls-tls-webpki-roots",
    "reqwest?/rustls-tls-webpki-roots",
]
__rustls-tls = ["tokio-tungstenite?/__rustls-tls", "reqwest?/__rustls"]

[dependencies]
livekit-protocol = { path = "../livekit-protocol", version = "0.3.0" }
thiserror = "1.0"
serde = { version = "1.0", features = ["derive"] }
sha2 = "0.10"
url = "2.3"
log = "0.4"
parking_lot = { version = "0.12" }
prost = "0.12"

# webhooks
serde_json = { version = "1.0", optional = true }
base64 = { version = "0.21", optional = true }

# access_token & services
jsonwebtoken = { version = "9", default-features = false, optional = true }

# signal_client
livekit-runtime = { path = "../livekit-runtime", version = "0.3.0", optional = true}
tokio-tungstenite = { version = "0.20", optional = true }
# async-tungstenite = { version = "0.25.0", optional = true }
tokio = { version = "1", default-features = false, features = ["sync", "macros"], optional = true }
futures-util = { version = "0.3", default-features = false, features = [ "sink" ], optional = true }

# This dependency must be kept in sync with reqwest's version
http = "0.2"
reqwest = { version = "0.11", default-features = false, features = [ "json" ], optional = true }

scopeguard = "1.2.0"
