# CODEOWNERS for rust-sdks
# These owners will be requested for review on all PRs
* @ladvoc

/device-info/ @MaxHeimbrock
/docker/ @pham-tuan-binh
/libwebrtc/ @cloudwebrtc
/livekit-datatrack/ @ladvoc @1egoman
/livekit-data-stream/ @ladvoc @1egoman
/livekit-wakeword/ @pham-tuan-binh
/livekit-net/ @jhugman