[submodule "livekit/protocol"]
	path = livekit-protocol/protocol
	url = https://github.com/livekit/protocol
[submodule "yuv-sys/libyuv"]
	path = yuv-sys/libyuv
	url = https://github.com/zed-industries/libyuv
