[submodule "livekit/protocol"]
	path = livekit-protocol/protocol
	url = https://github.com/livekit/protocol
[submodule "yuv-sys/libyuv"]
	path = yuv-sys/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
[submodule "soxr-sys/soxr"]
	path = soxr-sys/soxr
	url = https://github.com/dofuuz/soxr/
