[workspace]
resolver = "2"
members = [
    "livekit",
    "livekit-api",
    "livekit-protocol",
    "livekit-ffi",
    "livekit-runtime",
    "libwebrtc",
    "soxr-sys",
    "yuv-sys",
    "imgproc",
    "webrtc-sys",
    "webrtc-sys/build",

    "examples/agent_dispatch",
    "examples/api",
    "examples/basic_room",
    "examples/basic_text_stream",
    "examples/encrypted_text_stream",
    "examples/local_audio",
    "examples/mobile",
    "examples/play_from_disk",
    "examples/rpc",
    "examples/save_to_disk",
    "examples/screensharing",
    "examples/send_bytes",
    "examples/webhooks",
    "examples/wgpu_room",
]

[workspace.dependencies]
imgproc = { version = "0.3.15", path = "imgproc" }
libwebrtc = { version = "0.3.21", path = "libwebrtc" }
livekit = { version = "0.7.26", path = "livekit" }
livekit-api = { version = "0.4.11", path = "livekit-api" }
livekit-ffi = { version = "0.12.41", path = "livekit-ffi" }
livekit-protocol = { version = "0.6.0", path = "livekit-protocol" }
livekit-runtime = { version = "0.4.0", path = "livekit-runtime" }
soxr-sys = { version = "0.1.1", path = "soxr-sys" }
webrtc-sys = { version = "0.3.18", path = "webrtc-sys" }
webrtc-sys-build = { version = "0.3.12", path = "webrtc-sys/build" }
yuv-sys = { version = "0.3.10", path = "yuv-sys" }
