[package]
name = "webrtc-sys"
version = "0.1.3"
edition = "2021"
homepage = "https://livekit.io"
license = "Apache-2.0"
description = "Unsafe bindings to libwebrtc"
repository = "https://github.com/livekit/client-sdk-rust" 

[dependencies]
cxx = "1.0"
log = "0.4"

[build-dependencies]
reqwest = { version = "0.11", default-features = false, features = ["blocking", "json", "rustls"] }
tar = "0.4"
flate2 = "1.0"
webrtc-sys-build = { version = "0.1.2", path = "./build" }
reqwest = { version = "0.11", features = ["blocking", "json"] }
cxx-build = "1.0"
glob = "0.3.0"
cc = "1.0"

[dev-dependencies]
env_logger = "0.10"