[package]
name = "webrtc-sys"
version = "0.3.12"
edition = "2021"
homepage = "https://livekit.io"
license = "Apache-2.0"
description = "Unsafe bindings to libwebrtc"
repository = "https://github.com/livekit/client-sdk-rust"

[features]
default = []
use_vaapi = []
use_nvidia = []

[dependencies]
cxx = "1.0"
log = "0.4"

[build-dependencies]
webrtc-sys-build = { workspace = true }
cxx-build = "1.0"
glob = "0.3"
cc = "1.0"

[dev-dependencies]
env_logger = "0.10"
