[package]
name = "api"
version = "0.1.0"
edition.workspace = true
publish = false

[dependencies]
tokio = { workspace = true, features = ["full", "parking_lot"] }
livekit-api = { workspace = true, features = ["rustls-tls-native-roots"] }
