[package]
name = "api"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
tokio = { version = "1", features = ["full", "parking_lot"] }
livekit-api = { workspace = true, features = ["rustls-tls-native-roots"] }
