[package]
name = "wgpu_room"
version = "0.1.1"
edition.workspace = true
publish = false

[features]
default = []
tracing = ["console-subscriber", "tokio/tracing"]

[dependencies]
tokio = { workspace = true, features = ["full", "parking_lot"] }
livekit = { workspace = true, features = ["rustls-tls-native-roots"]}
webrtc-sys = { workspace = true }
futures = "0.3"
winit = { version = "0.30.11", features = [ "android-native-activity" ] }
parking_lot = { workspace = true, features = ["deadlock_detection"] }
image = "0.24"
wgpu = "25.0"
egui = "0.31.1"
egui-wgpu = "0.31.1"
eframe = { version = "0.31.1", default-features = false, features = ["default_fonts", "wgpu", "persistence"] }
serde = { version = "1", features = ["derive"] }
log = { workspace = true }
env_logger = { workspace = true }
console-subscriber = { version = "0.1.10", features = ["parking_lot"], optional = true }

[target.'cfg(target_os = "macos")'.dependencies]
# On macos use feature relax-sign-encoding to avoid runtime crash (https://github.com/rust-windowing/winit/pull/4302)
objc2 = { version = "0.6.0", features = ["relax-sign-encoding"] }
