[package]
name = "local_video"
version = "0.1.0"
edition = "2021"
publish = false

[[bin]]
name = "publisher"
path = "src/publisher.rs"

[[bin]]
name = "subscriber"
path = "src/subscriber.rs"

[[bin]]
name = "list_devices"
path = "src/list_devices.rs"

[dependencies]
tokio = { version = "1", features = ["full", "parking_lot"] }
livekit = { workspace = true, features = ["rustls-tls-native-roots"] }
webrtc-sys = { workspace = true }
libwebrtc = { workspace = true }
livekit-api = { workspace = true }
yuv-sys = { workspace = true }
futures = "0.3"
clap = { version = "4.5", features = ["derive"] }
log = "0.4"
env_logger = "0.10.0"
nokhwa = { version = "0.10", default-features = false, features = ["input-avfoundation", "input-v4l", "input-msmf", "output-threaded"] }
image = "0.24"
egui = "0.31.1"
egui-wgpu = "0.31.1"
eframe = { version = "0.31.1", default-features = false, features = ["default_fonts", "wgpu", "persistence"] }
wgpu = "25.0"
winit = { version = "0.30.11", features = ["android-native-activity"] }
parking_lot = { version = "0.12.1", features = ["deadlock_detection"] }
anyhow = "1"
bytemuck = { version = "1.16", features = ["derive"] }

[target.'cfg(target_os = "macos")'.dependencies]
objc2 = { version = "0.6.0", features = ["relax-sign-encoding"] }
nokhwa-bindings-macos = "0.2"


