name: License Check
on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
jobs:
  license-check:
    name: License Check
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check License Headers
        shell: bash
        run: |
          shopt -s globstar
          docker run -v ${PWD}:/src ghcr.io/google/addlicense \
            -check \
            -l apache \
            -c "LiveKit, Inc." \
            -ignore "target/**/*" \
            -ignore "examples/**/*" \
            -ignore "yuv-sys/libyuv/**/*" \
            -ignore "webrtc-sys/src/vaapi/**/*" \
            -ignore "webrtc-sys/src/nvidia/**/*" \
            -ignore "webrtc-sys/src/lazy_load_deps_for/**/*" \
            -ignore "webrtc-sys/libwebrtc/**/*" \
            -ignore "soxr-sys/src/**/*" \
            -ignore "livekit-protocol/src/livekit.rs" \
            -ignore "livekit-protocol/src/livekit.serde.rs" \
             **/*.{rs,cpp,c}