name: Prepare Release

on:
  push:
    branches: [main]

permissions:
  contents: write
  pull-requests: write

jobs:
  prepare-release:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'chore: prepare release')"
    concurrency:
      group: prepare-release
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - uses: knope-dev/action@v2

      - run: knope prepare-release
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
