# Copyright 2023 LiveKit, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    name: Test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: macos-latest, test-profile: ci }
          - { os: ubuntu-latest, test-profile: ci }
          - { os: windows-latest, test-profile: ci-skip-e2e }
    permissions:
      contents: read
      actions: read
      checks: write
      # Required for test reporting
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with: { submodules: true }

      - name: Setup Rust Toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with: { rustflags: "" }  # Don't fail on warnings

      - name: Install Nextest
        uses: taiki-e/install-action@v2
        with: { tool: nextest@0.9.115 }

      - name: Install Protoc
        uses: arduino/setup-protoc@v2
        with:
          version: "25.2"
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install linux dependencies
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt update -y
          # libasound2-dev is needed for local_audio example
          # libdrm, libgbm, libxfixes, libxdamage, libxrandr, libxcomposite and libglib are needed for DesktopCapturer
          sudo apt install -y \
            libasound2-dev \
            libssl-dev \
            libx11-dev \
            libgl1-mesa-dev \
            libxext-dev \
            libva-dev \
            libdrm-dev \
            libnvidia-decode-570 \
            libnvidia-compute-570 \
            nvidia-cuda-dev \
            libgbm-dev \
            libxfixes-dev \
            libxdamage-dev \
            libxrandr-dev \
            libxcomposite-dev \
            libglib2.0-dev

      - name: Install LiveKit server
        if: ${{ matrix.test-profile == 'ci' }}
        run: |
          if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            curl -sSL https://get.livekit.io | bash
          elif [[ "${{ matrix.os }}" == "macos-latest" ]]; then
            brew install livekit
          fi

      - name: Run LiveKit server
        if: ${{ matrix.test-profile == 'ci' }}
        run: livekit-server --dev &

      - name: Test (${{ matrix.test-profile }})
        env:
          RUST_LOG: info
        run: cargo nextest run -P ${{ matrix.test-profile }} --no-capture

      - name: Test Report
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: Test Results
          path: target/nextest/${{ matrix.test-profile }}/junit.xml
          reporter: java-junit